body {
    background-color: black;
    padding-left: 5%;
    padding-right: 5%;
    
}

.hidden {
    opacity: 0;
    filter: blur(0px);
    
    transition: all 3s;
}

.show {
    opacity: 1;
    filter: blur(0);
    
}



.nav_bar{
    overflow: hidden;
    padding-top: 2%;
    padding: 2%;
    
}

.nav_bar .logo{

    color: #F3F3F3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
    float: left;
    text-transform: none;
    text-decoration-color: #000000;

    transition: 500ms;
}

.nav_bar a {
    color: #FFF;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-decoration-line: none;
    text-transform: lowercase;
    float: right;
    padding-right: 3%;
    text-decoration-color: #000000;

    transition: 500ms;
}
.nav_bar a:hover{
    text-decoration-color: #FFF;
    text-decoration-line: underline;
}

.nav_bar a.active {
    text-decoration-line: underline;
    text-decoration-color: #ffffff;
}

@keyframes appear {
  from {color: #000000; transform: translateY(-100%);}
  to {color: #ffffff; transform: translateY(0%);}
}

.intro h1{
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: normal;
    text-decoration-line: none;
    text-align: center;
    animation-name: appear;
    animation-duration: 2s;
}

.intro img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 75%;
}

.intro a{
    display: flex;
    width: 20%;
    padding: 0.5% 2% 0.5% 2%;
    justify-content: center;
    align-items: center;

    border-radius: 180px;
    border: 3px solid #FFF;

    color: #FFF;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-decoration-line: none;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.welcome h2{
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: bolder;
    text-transform: none;
    line-height: normal;
    text-decoration-line: none;
    text-align: left;
    padding-top: 5%;
}

.welcome p{
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    line-height: normal;
    text-decoration-line: none;
    text-align: left;
    padding-top: 0%;
}
.welcome img{
    width: auto;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}

.expectations h2{
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: bolder;
    text-transform: none;
    line-height: normal;
    text-decoration-line: none;
    text-align: left;
    padding-top: 5%;
}
.information {
    display: flex;
    flex-direction: row;
    
}
.info {
    padding-right: 1%;
    padding-left: 0%;
}
.info h3 {
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: bolder;
    text-transform: none;
    line-height: normal;
    text-decoration-line: none;
    text-align: left;
    
}

.info p {
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    line-height: normal;
    text-decoration-line: none;
    text-align: left;
    
}

.connect h2{
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: bolder;
    text-transform: none;
    line-height: normal;
    text-decoration-line: none;
    text-align: left;
    padding-top: 1%;
}
.social {
    display: flex;
    flex-direction: row;
}
.social p {
    width: 75%;
    /*height: 294.772px;*/
    flex-shrink: 0;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    line-height: normal;
    text-decoration-line: none;
    text-align: left;
    margin-right: 3%;
}
.devider_line {
    width: 5px;
    height: 295px;
    background: #FFF;
    
}
.links{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 3%;
}

.links a {
    padding-bottom: 20%;
}